*.sh
*.json
*.txt
obj
bin
run
datafolder
metadatafolder
artcheckimport/artcheckimport
artchecksha/artchecksha
artemail/artemail
artgen/artgen
artgroupimport/artgroupimport
artlayout/artlayout
artpatterns/artpatterns
artrepos/artrepos
artstorage/artstorage
arttasks/arttasks
artusers/artusers
getartsize/getartsize
